body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #030330;
    color: white;
  }
  
  a {
    color: #feb100;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }